wallet {
  display: flex;
  align-items: center;

  ion-fab {
    position: relative;
    z-index: inherit;

    .fab ion-icon {
      font-size: 1.6em;
    }

    ion-fab-list {
      z-index: 5;
    }
  }

  .wallet {
    &__icon {
      width: 40px;
      height: 40px;
      background-color: transparent !important;
    }

    &__name {
      display: block;
    }

    &__sum {
      font-weight: bold;
    }

    &__currency {
      font-size: 0.8em
    }
  }
}
